#left {
    background-color: #005fcc;
    width:80px;
    height: 350px;
    border: 1px solid blue;
    padding: 10%;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;

}
img {
    border-radius: 60%;

    margin-top: -80px;
    margin-bottom: 0px;
    margin-left: -70px;
}
#name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: azure;
    padding: 0%;
    margin-right:0px;
    margin-top: -10px;
    margin-left: -70px;

}
#takhasos {
     font-family: initial;
    color: azure;
    padding: 0%;
    margin-right:0px;
    margin-top: -10px;
    margin-left: -40px;
}
#social {

    display: flex;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

ul {
    display: flex;
}
ul li {
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: #005fcc;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;

}
#about{
    color: white;
    margin: 0 -30px ;
    line-height: 30px;
}
#1 {
    margin-left: -100px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.a {
    float: right;
    width: 65%;
    margin-bottom: -10px;
    color: red;

}


.b {
    float: right;
    width: 65%;
    margin-top: 50px;
}

.c {
    float: right;
    width: 65%;
    margin-top: 50px;
    line-height: 2em;

}
.d {
    float: right;
    width: 65%;
    margin-top: 50px;
    word-spacing: 120px;
}
mark {
    background-color: white;
    color: darkgray;
}