{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block head %}
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'account/profile/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'account/profile/css/style2.css' %}">

{% endblock %}






{% block content %}


    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">


                        <div class="d-flex flex-row user-info">
                            <a href="{{ post.get_absolute_url }}"> {% if post.user.profile.image %}
                                <img class="card-img-center" src="{{ post.user.profile.image.url }}" width="40">

                            {% endif %}
                            </a>


                            <div class="d-flex flex-column justify-content-start ml-2"><span
                                    class="d-block font-weight-bold name ml-2">{{ post.user.username }}</span><span
                                    class="date text-black-50">{{ post.updated|date:"Y-M-D-h:m" }}</span></div>

                        </div>


                        <br>
                        <div class="card bg-light text-dark">
                            <div class="card-body text-lg-center">{{ post.body }}</div>
                        </div>
                    </div>


                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">


                    </div>

                    {% if request.user.is_authenticated %}
                        <form class="form-control ml-1 shadow-none textarea" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-primary btn-sm shadow-none" type="Submit"
                                   value="{% trans "Post comment" %}">
                        </form><br/>
                    {% else %}
                        <P class="alert alert-danger">{% trans "only logged in users can comment." %}</P>

                    {% endif %}










                    <div class="mt-2 text-right">

                        {% if request.user.id == post.user.id %}
                            <a id="1" href="{% url 'home:post_delete' post.id %}"
                               class=" btn btn-danger">{% trans "Delete" %}</a>
                            <a href="{% url 'home:post_update' post.id %}"
                               class="btn btn-danger">{% trans "Update" %}</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>













    <div class="container">
        <div class="be-comment-block">
            <h1 class="comments-title">{{ comments.count }} comments</h1>
            {% for comment in comments %}
                <div class="be-comment">


                    <div class="be-img-comment">


                        {% if comment.ucomments.image %}
                            <img src="{{ comment.ucomments.image.url }}" alt="" class="rounded-circle img-fluid my-5"
                                 style="width: 30px;"/>
                        {% endif %}
                    </div>


                    <div class="be-comment-content">

				<span class="be-comment-name">
					<a href="blog-detail-2.html">{{ comment.user }}</a>
					</span>
                        <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					{{ comment.created|timesince }}
				</span>

                        <p class="be-comment-text">
                            {{ comment.body }}<br>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'home:post_like' post.id %}"
                                   class="likebutton {% if can_like %}disabled {% endif %} btn btn-primary col-md-2 p-2 m-2"
                                   id="{{ post.id }}">{% trans "like" %} {{ post.like_cont }}</a>

                                <form action="{% url 'home:add_reply' post.id comment.id %}" method="post">
                                    {% csrf_token %}
                                    {{ from_reply.as_p }}
                                    <input type="submit" value={% trans "Send" %}>
                                </form>
                            {% endif %}
                        </p>

                        {% with replis=comment.rcomments.all %}
                            {% for reply in replis %}
                                <P class="be-comment-text">{{ reply.user }}
                                    | {{ reply.created|timesince }}<br/>{{ reply.body }}
                                </P>
                            {% endfor %}
                        {% endwith %}
                    </div>
                    <br/>
                    {% empty %}
                    <P class="be-comment-text">{% trans "No comments yet!" %}</P>
                </div>
                </div>
            {% endfor %}

    </div>
    </div>





























{##}
{#    <p>{{ comments.count }} comments</p>#}
{#    {% for comment in comments %}#}
{#        <div class="card bg-dark text-white">#}
{#            <p class="card-header">{{ comment.user }} | {{ comment.created|timesince }}</p>#}
{#            <p class="card-body">{{ comment.body }}</p>#}
{##}
{#            {% if request.user.is_authenticated %}#}
{#                <a href="{% url 'home:post_like' post.id %}"#}
{#                   class="likebutton {% if can_like %}disabled {% endif %} btn btn-primary col-md-2 p-2 m-2"#}
{#                   id="{{ post.id }}">{% trans "like" %} {{ post.like_cont }}</a>#}
{##}
{##}
{##}
{##}
{#                <form action="{% url 'home:add_reply' post.id comment.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ from_reply.as_p }}#}
{#                    <input type="submit" value={% trans "Send" %}>#}
{#                </form>#}
{#            {% endif %}#}
{##}
{##}
{##}
{##}
{#            {% with replis=comment.rcomments.all %}#}
{#                {% for reply in replis %}#}
{#                    <P class="bg-gradient p-3 m-2">{{ reply.user }} | {{ reply.created|timesince }}<br/>{{ reply.body }}#}
{#                    </P>#}
{#                {% endfor %}#}
{#            {% endwith %}#}
{#        </div><br/>#}
{#    {% empty %}#}
{#        <P class="card bg-dark text-white">{% trans "No comments yet!" %}</P>#}
{#    {% endfor %}#}



{% endblock %}
{% block script %}
    <script>
        btnlike = $(".likebutton")

        btnlike.click(function (e) {
            e.preventDefault()
            post_id = e.target.id
            url = "{% url 'home:post_like' 0 %}".replace('0', post_id)
            $.get(
                url,
                function (data) {
                    btnlike.removeClass();
                    btnlike.addClass("btn btn-danger col-md-2 p-2 m-2");
                    var n = {{ post.like_cont }}
                        btnlike.html("Like" + "" + (n + 1))


                }
            )

        })


    </script>
{% endblock %}