{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}




    {% for cat in categories %}
      <a href="{{ cat.get_absolute_url }}" class="btn btn-dark">{{ cat.name }} </a>

    {% endfor %}


       <br/><br/>
     {% for product in products %}
        <div class="card" style="width: 20em; display:inline-block;">
            <img src="{{ product.image.url }}" class="card-img-top">
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}