{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<form action="" method="get" class="m-3 p-3">
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value={% trans "Search" %}>
    </form>

    {% for post in posts %}
        <div class="container mt-3 col-4">
            <div class="card" style="width:200px">

                {% if post.user.profile.image %}

                    <img class="card-img-top" src="{{ post.user.profile.image.url }}" alt="Card image"
                         style="width:100%">
                {% endif %}

                <div class="card-body">
                    <h4 class="card-title">{{ post.user.username }}</h4>
                    <p class="card-text">{{ post.body|truncatechars:10 }}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <br>
        </div>

    {% endfor %}

{% endblock %}
