{% extends 'base.html' %}
{% load static %}
<{% block head %}


    <!-- Style -->
    <link rel="stylesheet" href="{% static 'account/profile/css/style.css' %}">



{% endblock %}


{% block content %}






    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">


                                {% for info in infose %}
                                    {% if info.image %}
                                        <img src="{{ info.image.url }}" alt="" class="rounded-circle img-fluid my-5"
                                             style="width: 120px;"/>
                                    {% endif %}
                                {% endfor %}


                                <h5>{{ user.username }}</h5>
                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    {% if request.user.id == user.id %}

                                        <a href="{% url 'home:post_create' %}" class="btn btn-danger">Create</a>
                                        <a href="{% url 'account:edit_user' %}" class="btn btn-info">Edit</a>
                                    {% endif %}



                                    {% if request.user.id != user.id and not  is_following %}
                                        <a class="btn btn-primary"
                                           href="{% url 'account:user_follow' user.id %}">Follow</a>
                                    {% elif request.user.id != user.id and is_following %}
                                        <a class="btn btn-primary" href="{% url 'account:user_unfollow' user.id %}">Unfollow</a>
                                    {% endif %}



                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{ user.email }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                        </div>
                                    </div>
                                    <h6>Posts</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Recent</h6>
                                            <p class="text-muted">
                                            <div class="card">
                                                {% for post in posts %}
                                                    <a href="{{ post.get_absolute_url }}"
                                                       class="card-body">{{ post.body|truncatechars:10 }}</a>
                                                {% endfor %}
                                            </div>
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Most Viewed</h6>
                                            <p class="text-muted">Dolor sit amet</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
